<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en" id="ng-app">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="达人志愿,江苏达人,全国唯一的高考志愿填报专门网,普及高考志愿填报知识,提供志愿推荐、志愿预测、志愿范例、志愿咨询、深度查询等高考志愿填报咨询服务">
    <meta name="Keywords" content="达人志愿,大数据建模,个性化定制,免费提供志愿咨询,免费提供志愿范例,直接推荐志愿,直接预测志愿,直接深度查询">
    <meta name="fragment" content="!"/>
    <meta name="baidu-site-verification" content="J6qe6Ox6BK" />
    <!--<meta name="baidu-site-verification" content="PrvFCnC5JN"/>-->
    <meta name="sogou_site_verification" content="8luOQrhhrl"/>
    <title>达人志愿——江苏达人网全国唯一的高考志愿填报专门网_大数据建模_个性化定制_免费提供志愿咨询_免费提供志愿范例_直接推荐志愿_直接预测志愿_直接深度查询</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" id="bs-theme-stylesheet"/>-->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv.min.js"></script>
    <script src="lib/respond.min.js"></script>
    <link href="favicon.ico" rel="shortcut icon"/>
    <![endif]-->
    <style>
        /*下面这个样式用来控制title属性显示的那个方框样式的*/
        div#qTip {
            padding:5px 25px 15px 25px ;
            border: #abab98 1px solid;
            display: none;
            font-size: 16px;
            z-index: 1200;
            background: #fefeda;
            color: #000;
            line-height: 30px;
            position: absolute;
            text-indent: 2em;
            text-align: left;
            letter-spacing:2px;
            margin-top:-4px;
        }
    </style>
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->
    <!--[if lte IE 7]>
    <script src="lib/json2.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/global.css"/>
    <link rel="stylesheet" href="css/home/home.css"/>
    <link rel="stylesheet" href="css/home/homeContent.css"/>
    <link rel="stylesheet" href="css/chance/chance.css"/>
    <link rel="stylesheet" href="css/hope/hope.css"/>
    <link rel="stylesheet" href="css/banner/bannerStl.css"/>
    <link rel="stylesheet" href="css/login/login.css"/>
    <link rel="stylesheet" href="css/city/city.css"/>
    <link rel="stylesheet" href="templete/model-menu/modelMenu.css"/>
    <link rel="stylesheet" href="css/refer/refer.css"/>
    <link rel="stylesheet" href="css/pay/pay.css"/>
</head>
<body ng-cloak>

<!--[if lt IE 10]>
<div class="browser-happy">
    <div class="content">
        <p>童鞋，您的浏览器太OUT，为何不是试试更先进的浏览器呢～～</p>
        <h4>注：如果使用360浏览器，请使用极速模式打开 <a href="http://se.360.cn/v6/help/help5.html" target="_blank">去了解极速模式</a></h4>
        <a href="http://browsehappy.com/">立即更新</a>
    </div>
</div>
<![endif]-->
<nav class="navbar navbar-default head" id="head" style="min-height:62px!important;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home" style="padding: 0;margin: 0;">
                <img alt="A志愿|全国唯一的高考志愿填报专门网" src="logo.png" style="margin-top: 5px;width: 140px;" title="A志愿|全国唯一的高考志愿填报专门网">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" title="<br/>本栏目免费与您交流高考志愿填报有关话题：<br/>
                        1.填报高考志愿有哪些要领？（填报要领） <br/>
                        2.如何恰到好处地利用您的高考分数和名次填报高考志愿？（分数分析） <br/>
                        3.如何充分利用高校招生政策填报高考志愿？（招生政策） <br/>
                        4.您将要奔赴求学的大学长得啥样？（高校介绍） <br/>
                        5.您将要在大学里学有成就，究竟能学到啥？（专业介绍） <br/>
                        6.您将要生活几年的那个城市长的啥样？（城市介绍）<br/>
                        7.您未来发展的前程路径可能怎样？（毕业去向） <br/>
                        8.如何充分利用您的个性特征填报高考志愿？（个性特征） <br/>
                        9.比较典型的填报高考志愿的倾向性思维模式有哪些？（咨询线路） <br/>
                        您可以尽享其中<br/>">志愿咨询
                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="online.nav">咨询线路</a></li>
                        <li><a ui-sref="city.nav">城市介绍</a></li>
                        <li><a ui-sref="school.nav">高校介绍</a></li>
                        <li><a ui-sref="marjor.nav">专业介绍</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="recipe.nav">填报要领</a></li>
                        <li><a ui-sref="score.nav">分数分析</a></li>
                        <li><a ui-sref="policy.nav">招生政策</a></li>
                        <li><a ui-sref="job.nav">毕业去向</a></li>
                        <li><a ui-sref="unique.nav">个性特色</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" title="
                        亲本栏目将向您提供填报高考志愿需要深度查询的有关资料&#10;亲本栏目多数资料属于内部资料，属于保密资料，不得下载，不得转录哦！&#10;亲本栏目多数资料属于本网站整理资料，解释权属于本网站哦！&#10;亲本栏目部分条款是需要交费的哦，具体条款从2元起不等哦！
                        ">深度查询
                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="depth.info({batch:1})">文科本一</a></li>
                        <li><a ui-sref="depth.info({batch:3})">文科本二</a></li>
                        <li><a ui-sref="depth.info({batch:5})">文科本三</a></li>
                        <li><a ui-sref="depth.info({batch:7})">文科高职</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="depth.info({batch:2})">理科本一</a></li>
                        <li><a ui-sref="depth.info({batch:4})">理科本二</a></li>
                        <li><a ui-sref="depth.info({batch:6})">理科本三</a></li>
                        <li><a ui-sref="depth.info({batch:8})">理科高职</a></li>
                    </ul>
                </li>
                <li><a ui-sref="hope" title="
                    亲本栏目属于个性化服务栏目，将针对您本人的具体情况为您量身定做,推荐适合您自己的高考志愿，给出适合您自己的《高考志愿推荐表》供您参考。&#10;亲当您将您本人的具体想法或意向或要求填入（“点击”）为您设置的《考生志愿意向表》。就可以向您提供适合您自己的《考生志愿推荐表》，提供参考&#10;亲当您获取《考生志愿推荐表》之后，还可以查阅向您推荐的高校、专业、与您志愿意向的吻合情况和录取情况&#10;亲本栏目为交费栏目，一般获取1~3份《考生志愿推荐表》就可以了，当然如果有多份也可以获取
                    ">志愿推荐</a></li>
                <li><a ui-sref="chance" title="
                    亲本栏目帮您预测您所填报或将要填报的高校专业、可能录取的概率情况，让您心中有数&#10;亲本栏目为交费栏目，可以有两种方式使用本栏目：一是先明确录取概率，再查找想上的高校、想上的专业；二是先明确想上的高校，想上的专业，在查询可能录取的概率&#10;亲本栏目可以帮助您预测，某个大学的哪个专业，录取您的概率大，哪个专业录取您概率小，也可以帮助您预测某个专业，哪个大学录取您概率大。哪个大学录取您的概率小。当然利用本栏目还可以预测.........
                    ">志愿预测</a></li>
                <li>
                    <a ui-sref="example.nav"
                       title="亲本栏目为免费栏目，在本栏目您可以查看与您相仿科别相同、选测科目等级相同、高考分数相近、名次相近的高考，高考志愿填报成功的范例，供您参考。">志愿范例</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="appCtr">
                <form class="navbar-form navbar-left " action="javascript:;;" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="user.search" placeholder="请输入搜索内容..." style="width: 150px!important;"/>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <a href="javascript:;;" class="btn btn-default head-serche">
                        <i class="glyphicon glyphicon-search" ng-click="totalSearch()"></i>
                    </a>
                </form>
                <li><a ng-click="login()" href="javascript:;;" ng-if="!user.islogin">登陆/注册</a><a style="padding-left:0;padding-right:0;" ng-if="user.islogin">{{user.name}}</a>
                </li>
                <li><a ui-sref="all.score" href="javascript:;;" style="text-decoration: underline;font-weight:700;" ng-if="user.islogin">我的足迹</a></li>
                <li><a ng-if="user.islogin" href="javascript:;;"style="padding-left:0;padding-right:0;"  ng-click="logoff()">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view id="content"></div>
<div class="foolter alert alert-success text-center" id="footer">
    <div class="text-center">
        <p>
            <span style="color:#333300;">友情链接：</span><a href="http://www.moe.edu.cn/" target="_blank">中华人民共和国教育部</a>&nbsp;&nbsp;<a href="http://www.neea.edu.cn/" target="_blank">教育部考试中心</a>&nbsp;&nbsp;<a href="http://www.ec.js.edu.cn/" target="_blank">江苏省教育厅</a>&nbsp;&nbsp;<a href="http://www.chsi.com.cn/" target="_blank">中国高等教育学生信息网</a>&nbsp;&nbsp;<a href="http://www.edu.cn/" target="_blank">中国教育科研网</a>
        </p>
        <p>
            <a href="http://www.njzb.net/index.asp">南京</a>&nbsp;&nbsp;
            <a href="http://www.wxjy.com.cn/Index.html">无锡</a>&nbsp;&nbsp;
            <a href="http://www.xzszb.net/" target="_blank">徐州</a>&nbsp;&nbsp;
            <a href="http://zk.czedu.gov.cn/" target="_blank">常州</a>&nbsp;&nbsp;
            <a href="http://www.szzxks.net/" target="_blank">苏州</a>&nbsp;&nbsp;
            <a href="http://www.ntzk.com/" target="_blank">南通</a>&nbsp;&nbsp;
            <a href="http://www.lygzsks.cn/" target="_blank">连云港</a>&nbsp;&nbsp;
            <a href="http://jyj.huaian.gov.cn/" target="_blank">淮安</a>&nbsp;&nbsp;
            <a href="http://www.ycszkzx.cn/" target="_blank">盐城</a>&nbsp;&nbsp;
            <a href="http://www.yzzkb.com.cn/" target="_blank">扬州</a>&nbsp;&nbsp;
            <a href="http://zkb.zje.net.cn/" target="_blank">镇江</a>&nbsp;&nbsp;
            <a href="http://www.tze.cn/" target="_blank">泰州</a>&nbsp;&nbsp;
            <a href="http://www.sqeea.cn/" target="_blank">宿迁</a>&nbsp;&nbsp;
        </p>
    </div>
    <p>江苏达人高考志愿填报网站工作室地址：南京市秦淮区中山门大街卫桥新村17座505</p>
    <p>
        <span>邮箱地址：jsdrcsl@163.com</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>联系电话：13914726090</span>
    </p>
    <p>
        <span>微信：DR13914726090</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>QQ：2930491038</span>
    </p>
    <p>江苏达人信息技术咨询服务有限公司 版权所有，侵权必究，<a
            href="http://www.beianbeian.com/" style="color:#000;" target="_blank">苏ICP备15016324号</a></p>
    <!--<p style="color:#3c763d;"><a ui-sref="about.nav">关于我们</a> &nbsp;&nbsp;<a>联系我们</a>江苏达人信息技术咨询服务有限公司 版权所有，侵权必究，<a-->
    <!--href="http://www.beianbeian.com/" style="color:#3c763d;" target="_blank">苏ICP备15016324号</a></p>-->
</div>

</body>
<script src="lib/require.js"></script>
<script src="lib/main.js"></script>
<script src="js/json2.js"></script>
<script src="js/alt.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/example/example.js"></script>
<script src="js/hope/hope.js"></script>
<script src="js/login/login.js"></script>
<script src="js/login/register.js"></script>
<script src="js/login/forget.js"></script>
<script src="js/online/online.js"></script>
<script src="js/city/city.js"></script>
<script src="js/school/school.js"></script>
<script src="js/marjor/marjor.js"></script>
<script src="js/policy/policy.js"></script>
<script src="js/score/score.js"></script>
<script src="js/job/job.js"></script>
<script src="js/recipe/recipe.js"></script>
<script src="js/unique/unique.js"></script>
<script src="js/refer/refer.js"></script>
<script src="js/Controller/navbar/nav.js"></script>
<script src="js/Controller/navbar/new.js"></script>
<script src="js/Controller/navbar/city.js"></script>
<script src="js/Controller/navbar/marjor.js"></script>
<script src="js/Controller/navbar/school.js"></script>
<script src="js/Controller/recipe/recipe.js"></script>
<script src="js/Controller/listGroup/groupOnline.js"></script>
<script src="js/Controller/listGroup/groupRecipe.js"></script>
<script src="js/Controller/listGroup/groupScore.js"></script>
<script src="js/Controller/listGroup/groupPolicy.js"></script>
<script src="js/Controller/listGroup/groupJob.js"></script>
<script src="js/Controller/listGroup/groupUnique.js"></script>
<script src="html/All/all.js"></script>
<script src="js/pay/pay.js"></script>
<script language="Javascript">
    $(function () {
        $('.dropdown-toggle').dropdown();
        /*    function login (option) {
         // /login    POST
         var url = info.getReqUrl() + "/login?time="+new Date().getTime();
         $.post(url,{j_username:option.j_username,j_password:option.j_password,code:option.code},function(result){
         response(result,option);
         },"html");
         }; */
        /* $("#registertest").click(function(e){
         window.frames["register"].submit();
         return;

         var param = {};
         param.j_username = $("#username").val();
         param.j_password =$("#password").val();
         param.mobile = "";
         param.time = new Date().getTime();
         param.code = $("#validate").val();
         var url = "/loocha/user/register?time="+new Date().getTime();
         jQuery.post(url,{j_username:"14321111111113",j_password:"111111",code:"I6XI"},function(result){
         console.log(result)
         },"json");
         //alert( $("#username").val()+","+$("#password").val()+","+$("#validate").val());
         //$.ajax({
         //    type: "POST",
         //    url: "/loocha/user/register?_t="+new Date().getTime(),
         //    dataType: "html",
         //data: "j_username="+$("#username").val()+"&j_password="+$("#password").val()+"&mobile=&code="+$("#validate").val(),
         //     data:{j_username:$("#username").val(),j_password:$("#password").val(),mobile:"",code:""},
         //    success:function(data){
         //        console.log(JSON.stringify(data));
         //        debugger;
         //   }
         // })


         }) */

    });
    //    document.oncontextmenu=new Function("event.returnValue=false");
    //    document.onselectstart=new Function("event.returnValue=false");
</script>
</html>